force-app/main/default/flows/Check_New_Lead_for_Matching_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <actionCalls>
        <name>Chatter_Post_to_Account_Owner</name>
        <label>Chatter Post to Account Owner</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Email_Lead_Routing</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Lead_Routing</name>
        <label>Email Lead Routing</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <actionName>Lead.Send_Matching_Account_to_Lead_Routing</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <label>Check New Lead for Matching Account</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_for_Matching_Account</name>
        <label>Look for Matching Account</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Matching_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Matching_Account</name>
        <label>Update Matching Account</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Chatter_Post_to_Account_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Possible_Matching_Account__c</field>
            <value>
                <elementReference
        >Look_for_Matching_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Look_for_Matching_Account</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!Look_for_Matching_Account.OwnerId}]</text>
    </textTemplates>
</Flow>
